<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>FoodRec</title>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Space+Grotesk:wght@500;600;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<body>
    <div class="hero-image"></div>

    <div class="hero-content">
        <h1>Food<br>Recommender</h1>
        <p>Predict your new favorite brunch spot in famous cities!</p>
        <p>This prediction model is purely deployed on AWS EC2.</p>
        <a href="/recommend" class="cta-button">Get Your Dibs!</a>
    </div>
</body>
</html>